       
.div_A{
     background-color: rgb(131, 15, 15); 
     width: 500px; 
     height: 500px;
 }

 .div_B{
     width: 50%; 
     height: 50%; 
     background-color: rgb(80, 20, 20);
 }

 .par_divB{
     color: rgb(255, 251, 0);
     background-color: rgb(0, 0, 0);
     font-size: 25px;
     font-family: monospace;
     text-transform: uppercase;
 }

 .div_D{
     width: 50%;
     height: 50vh;
     background-color: rgb(58, 32, 20);
 }

 .div_E{
     width: 75vw;
     height: 50%;
     background-color: rgb(255, 201, 4); 
 }

